/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/01/2018, 09:40:34 PM
    Author     : kerencita
*/

/*estilos generales*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: boder-box;
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

body{
    font-family: Open sans;
}


.slideshow{
    width: 100%;
    position: relative;
}

.slider li{
    overflow: hidden;
}
.slider li, ul{
    width: 100%;
}


.slider li img{
    width: 100%;
}

.slider .caption{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;   
    padding: 15px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color:#fff;
    z-index: 1;
}

.slider .caption h1{
    font-size: 50px;
}

.slider .caption p{
    margin-top: 10px;
    font-size: 20px;
}

.pagination{
    position: absolute;
    top: 102%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;    

}

.pagination li{
    font-size: 20px;
    margin: 2px 5px;
    color: #858585;
    cursor: pointer;
}

.left, .right{
    position: absolute;
    top: 0;
    height: 100%;

    display: flex;
    align-items: center;

    color: #fff;
    font-size: 35px;
    cursor: pointer;
    z-index: 2;

}

.left{
    left: 10px;
}

.right{
    right: 10px;
}
@media screen and (max-width: 600px){
    .slider .caption p{
        display: none;
    }

    .slider .caption h1{
        font-size: 35px;
    }

    .left, .right{
        font-size: 30px;
    }
    .slider li img{
        width: 600px; 
    }
}
.contenedorCarrusel{


    position: absolute;
    width: 100%;
    height: 80%;
    top: 180px;
    left: 0;   
    padding: 1px 1px; 
}


/* para el menu*/

/* 
Inspired by http://dribbble.com/shots/890759-Ui-Kit-Metro/attachments/97174
*/
*, *:before, *:after {
    /* Chrome 9-, Safari 5-, iOS 4.2-, Android 3-, Blackberry 7- */
    -webkit-box-sizing: border-box; 

    /* Firefox (desktop or Android) 28- */
    -moz-box-sizing: border-box;

    /* Firefox 29+, IE 8+, Chrome 10+, Safari 5.1+, Opera 9.5+, iOS 5+, Opera Mini Anything, Blackberry 10+, Android 4+ */
    box-sizing: border-box;
}
body {
    background-image: url(../img/Fondo2.jpg);
    text-align: center;
    padding-top: 40px;
}
.btn-nav {
    background-color: #F1C40F;
    border: 1px solid #e0e1db;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}
.btn-nav:hover {
    color: #e92d00;
    cursor: pointer;
    -webkit-transition: color 1s; /* For Safari 3.1 to 6.0 */
    transition: color 1s;
}

.btn-nav.active {
    color: #1C2833  ;
    padding: 2px;
    border-top: 6px solid #1C2833  ;
    border-bottom: 6px solid #1C2833  ;
    border-left: 0;
    border-right: 0;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -webkit-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -moz-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -ms-transition: border 0.3s ease-out, color 0.3s ease 0.5s; /* IE10 is actually unprefixed */
    -o-transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    transition: border 0.3s ease-out, color 0.3s ease 0.5s;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    
}
.btn-nav.active:before {
    content: '';
    position: absolute;
    border-style: solid;
    
    border-width: 6px 6px 0;
    border-color: #1C2833   transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -6px;
    top: 0;
    left: 50%;

}
.btn-nav .glyphicon {
    padding-top: 16px;
    font-size: 40px;
    color: #1C2833;
}
.btn-nav.active p {
    margin-bottom: 8px;
}


@-webkit-keyframes pulsate {
    50% { color: #000; }
}
@keyframes pulsate {
    50% { color: #000; }
}
@media (max-width: 480px) {
    .btn-group {
        display: block !important;
        float: none !important;
        width: 100% !important;
        max-width: 100% !important;
    }
}
@media (max-width: 600px) {
    .btn-nav .glyphicon {
        padding-top: 12px;
        font-size: 26px;
    }
}

/* css para modal*/

.center {
    margin-top:50px;   

}

.modal-header {
    background-color:#F1C40F;
    padding-bottom: 5px;	
    color: #1C2833  ;
    padding: 2px;
    border-top: 8px solid #1C2833  ;
}

.modal-footer {
    margin-top: 0;
    height: 65px;
}
.btn-group-login{
    margin-top: 0; 
}

.modal-footer .btn+.btn {
    margin-left: 0px;
}
/* Css para el form dentro del modal */

/*Recuerdame  text option*/
.panel-login {
    border-color: #ccc;
    -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);

}
.panel-login>.panel-heading {
    color: #00415d;
    background-color: #fff;
    border-color: #fff;
    text-align:center;
}
/*Registrate ahora text*/
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    font-weight: bold;
    font-size: 15px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
/*Iniciar sesion  text*/
.panel-login>.panel-heading a.active{
    color: #029f5b;
    font-size: 18px;
}
.panel-login>.panel-heading hr{
    margin-top: 10px;
    margin-bottom: 0px;
    clear: both;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
    background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
    background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));

}
/*Campo ingresar contraseña*/
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 1px solid #ddd;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;

}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;

}
.btn-login:optional {
    background-color: #59B2E0;
    outline: none;
    color: #fff;
    font-size: 15px;
    width: 180px;
    height: 45px;
    font-weight: normal;
    padding: 15px 20px;
    text-transform: uppercase;
    border-color: #59B2E6;
}

.btn-login:hover,
.btn-login:focus {

    color: #fff;
    background-color: #53A3CD;
    border-color: #53A3CD;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register:optional {
    background-color: #1CB94E;
    outline: none;
    color: #fff;
    font-size: 15px;
    height: auto;
    width: 180px;
    font-weight: normal;
    padding: 14px 18px;
    text-transform: uppercase;
    border-color: #1CB94A;
}
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #1CA347;
    border-color: #1CA347;
}